
@font-face
{
    font-family: "valentine";
    src:    url(../font/Valentine\ Monster.ttf) format("truetype"),
            url("../font/Valentine\ Monster.eot") format("eot");
}

@font-face
{
    font-family: "usa_condensed";
    src:    url(../font/ufonts.com_u-s-a-condensed.ttf) format("truetype"),
            url("../font/ufonts.com_u-s-a-condensed.eot") format("eot");
}

@font-face
{
    font-family: "tommy";
    src:    url(../font/MADE\ TOMMY\ Black_PERSONAL\ USE.ttf) format("truetype"),
            url("../font/MADE\ TOMMY\ Black_PERSONAL\ USE.eot") format("eot");
}


@font-face
{
    font-family: "aliensCows";
    src:    url(../font/aliens\ and\ cows_trial.ttf) format("truetype"),
            url("../font/aliens\ and\ cows_trial.eot") format("eot");
}


@font-face
{
    font-family: "mont";
    src:    url(../font/EULA\ Free\ Font\ License\ Ver.ttf) format("truetype"),
            url("../font/EULA\ Free\ Font\ License\ Ver.eot") format("eot");
}


/*---------------------- ? ? ?  ----------------*/

#youtubeNational
{
  font-family: "aliensCows";
  color: #DA3022;
  padding: 1.5%;
  font-size: 2em;
  padding-right: 2%;
}

.main-home
{
    display: flex;
    width: 100%;
    height: 1000px;
    justify-content: center;
}

body
{
    /* background-color: #B0C0BC; */
}

.container
{
    justify-content: center;
    width: 100%;
}

.row
{
    justify-content: center;

}



/*---------------------- N A V B A R ----------------*/

.navbar
{
    display: grid;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/Occupation-cropped.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;

}


.navbar-links
{
    height: 10%;
    justify-content: space-between;
    width: 100%;
}


.navbar-links a
{
    font-family: "aliensCows";
    color: #DA3022;
    padding: 1.5%;
    font-size: 2em;
    padding-right: 2%;
}


.navbar-button
{
    color: #2E2D2D;
    display: flex;
    background-color: #191A1A;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}

/*---------------------- E V E N T S ----------------*/



/*---------------------- F O O T E R ----------------*/


footer
{
    text-align: center;
}

.footer
{
  width: 100%;
  font-family: "lancelot";
  font-size: 1em;
  text-align: center;
  margin: auto;
  background-color: #4B74A8;
  margin-top: 10%;
  color: #E6EFE9;
}

.footer img
{
    margin-bottom: 1%;
}
