body {
}

h1, h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}

.commentaire {
  border: black solid thin;
}

a
{
    text-decoration: none;
    color: blue;
}

.main
{
    border: #1818;
    background-color: #1818;
    height: 1200px;
    width: 100%;
}

.header
{
    background-color: red;
    border: thin solid black;
    height: 10%;
}


.footer
{
    margin-top: 90%;
    background-color: red;
    border: thin solid black;

}
