
@font-face
{
    font-family: "valentine";
    src:    url(assets/font/Valentine\ Monster.ttf) format("truetype"),
            url("assets/font/Valentine\ Monster.eot") format("eot");
}

@font-face
{
    font-family: "lancelot";
    src:    url(assets/font/Lancelot-Regular.ttf) format("truetype"),
            url("assets/font/Lancelot-Regular.eot") format("eot");
}


@font-face
{
    font-family: "usa_condensed";
    src:    url(assets/font/ufonts.com_u-s-a-condensed.ttf) format("truetype"),
            url("assets/font/ufonts.com_u-s-a-condensed.eot") format("eot");
}

body
{
    background-color: #B0C0BC;
}

.lien-radio
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1B1B1B;
}

.lien-radio button
{
    width: 50%;
    height: 50px;
    background-color: #1B1B1B;
    color: #E6EFE9;
    height: 50px;
    text-decoration: none;
    border: #1B1B1B thin solid
}

.lien-radio a
{
    text-decoration: none;
}

.container
{
    display: flex;
    justify-content: center;
    background-color: #B0C0BC;
}

.row
{
    justify-content: center;
    background-color: #B0C0BC;

}

.main-home
{
    display: flex;
    width: 100%;
    height: 1000px;
    justify-content: center;
}

.manifest
{
    width: 75%;
    font-family: "lancelot";
    font-size: 1.5em;
    text-align: center;
    margin: auto;

}

.manifest h1
{
    /* text-decoration: underline; */
    font-family: "lancelot";
    margin: 3%;

}

.manisfest p
{
  text-align: center;
  list-style: none;
  box-shadow: 12px 12px 2px 1px #C2EABA;
}

.manifest ul
{
    text-align: center;
    list-style: none;
    box-shadow: 12px 12px 2px 1px #BEDCFE;
}

.manifest li
{
  background-color: #E6EFE9;

}

.navbar
{
    display: grid;
    background-color: #35588E;
    justify-content: center;
    flex-direction: column;
}

.navbar img
{
    width: 10%;
}

.navbar-links
{
    display: grid;
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: space-around;
}


.navbar-links a
{
    font-family: "valentine";
    color: #DA3022;
    padding: 1.5%;
    font-size: 1.5em;
    padding: 7%;
    padding-right: 2%;
}

.posts-list
{
    color: #2E2D2D;
    display: flex;
    background-color: #191A1A;
    border-radius: 20px 20px 20px 20px;
    width: 445px;
    justify-content: space-around;
}

h1, h3
{
    text-align:center;
}

.news-top
{
    background-color: #191A1A;
    color: #D73123;
    font-size:1.5em;
    padding: 0.01%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    font-family: "valentine";
    padding: 0.5%;
}

.news img
{
    justify-content: middle;
    width: 100%;
}

.news p
{
    margin-top:0px;
}

.post-content {
    display: flex;
}

.post-content img
{
    width: 30%;
}

.post-content p
{
    width: 100%;
    text-align: center;
    padding: 1%;
    height: 100%;
}

.news
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:70%;
    margin:auto;
    border-radius: 10px 10px 10px 10px;
    margin-top: 1%;
    font-size: 1.2em;
}

.news-footer
{
    display: flex;
    justify-content: space-between;

}

.galerie
{
    padding: 2%;
}

footer
{
    text-align: center;
}

.footer
{
  width: 100%;
  font-family: "lancelot";
  font-size: 1em;
  text-align: center;
  margin: auto;
  background-color: #35588E;
  margin-top: 10%;
  color: #E6EFE9;
}
