
@font-face
{
    font-family: "valentine";
     src:    url(assets/font/Valentine\ Monster.ttf) format("truetype"),
            url("assets/font/Valentine\ Monster.eot") format("eot");
}

@font-face
{
    font-family: "lancelot";
    src:    url(assets/font/Lancelot-Regular.ttf) format("truetype"),
            url("assets/font/Lancelot-Regular.eot") format("eot");
}


@font-face
{
    font-family: "usa_condensed";
    src:    url(assets/font/ufonts.com_u-s-a-condensed.ttf) format("truetype"),
            url("assets/font/ufonts.com_u-s-a-condensed.eot") format("eot");
}

@font-face
{
    font-family: "tommy";
    src:    url(assets/font/MADE\ TOMMY\ Black_PERSONAL\ USE.ttf) format("truetype"),
            url("assets/font/MADE\ TOMMY\ Black_PERSONAL\ USE.eot") format("eot");
}


@font-face
{
    font-family: "aliensCows";
    src:    url(assets/font/aliens\ and\ cows_trial.ttf) format("truetype"),
            url("assets/font/aliens\ and\ cows_trial.eot") format("eot");
}


@font-face
{
    font-family: "mont";
    src:    url(assets/font/EULA\ Free\ Font\ License\ Ver.ttf) format("truetype"),
            url("assets/font/EULA\ Free\ Font\ License\ Ver.eot") format("eot");
}


body
{
    /* background-color: #B0C0BC; */
}

.container
{
    /* display: flex; */
    justify-content: center;
    /* background-color: #B0C0BC; */
    width: 100%;
}

.row
{
    justify-content: center;
    /* background-color: #B0C0BC; */

}

#youtubeNational
{
  font-family: "aliensCows";
  color: #DA3022;
  padding: 1.5%;
  font-size: 2em;
  padding-right: 2%;
}

.main-home
{
    display: flex;
    width: 100%;
    height: 1000px;
    justify-content: center;
}

.manifest
{
    width: 75%;
    font-family: "lancelot";
    font-size: 1.5em;
    text-align: center;
    margin: auto;
}

.manifest img
{
    width: 30%;
    margin-top: 10%;
}

.chapeau
{
  background-color: #E6EFE9;
  border-radius: 10px 10px 10px 10px;
  padding: 1%;
  margin-top: 10%;
}


.navbar
{
    display: grid;
    justify-content: center;
    flex-direction: column;

    background-image: url('assets/images/Occupation-cropped.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;

}


.navbar-links
{
    height: 10%;
    justify-content: space-between;
    width: 100%;
}


.navbar-links a
{
    font-family: "aliensCows";
    color: #DA3022;
    padding: 1.5%;
    font-size: 2em;
    padding-right: 2%;
}


.manifest h1
{
    /* text-decoration: underline; */
    font-family: "lancelot";
    margin: 3%;

}

.manisfest p
{
  text-align: center;
  list-style: none;
}

.manifest ul
{
    text-align: center;
    list-style: none;
    box-shadow: 12px 12px 2px 1px #4B74A8;
}

.manifest li
{
  background-color: #E6EFE9;

}


.posts-list
{
    color: #2E2D2D;
    display: flex;
    background-color: #191A1A;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}

#goldenBook
{
    height: 70%;
    padding: 1%
}

h1
{
    text-align:center;
}

.news-top
{
    color: #191A1A;
    /* font-size: 4.5em; */
    padding: 0.01%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    margin: 1%;
    font-family: "aliensCows";
    padding: 0.5%;
}


.news-top h3
{
    font-size: 4.5em;

}

.gold-book-top h3
{
    font-size: 4.5em;
}

.news img
{
    justify-content: middle;
    width: 100%;
}

.news p
{
    margin-top:0px;
}

.post-content {
    display: flex;
    width: 100%;
}

.post-content img
{
    width: 30%;
}

.post-content p
{
    width: 100%;
    text-align: center;
    padding: 1%;
    height: 100%;
}

.news
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:70%;
    margin:auto;
    border-radius: 10px 10px 10px 10px;
    margin-top: 1%;
    font-size: 1.2em;
}

.news-footer
{
    display: flex;
    justify-content: space-between;

}

.gold-book
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:70%;
    margin:auto;
    border-radius: 10px 10px 10px 10px;
    margin-top: 1%;
    font-size: 1.2em;
}

.gold-book
{
    display: flex;
    justify-content: space-between;
    border-bottom: grey solid 2px;

}

.gold-book-content p
{
    width: 100%;
    text-align: left;
    padding: 1%;
    height: 100%;
}

.galerie
{
    padding: 2%;
    align-content: center;
}

#occupons-partout
{
    margin: auto;
    width: 60%;
}

footer
{
    text-align: center;
}

.footer
{
  width: 100%;
  font-family: "lancelot";
  font-size: 1em;
  text-align: center;
  margin: auto;
  background-color: #4B74A8;
  margin-top: 10%;
  color: #E6EFE9;
}

.footer img
{
    margin-bottom: 1%;
}
